
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="breadcrumb-area">
    <!-- Top Breadcrumb Tiny -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../Content/asset/img/bg-img/24.jpg);">
        <h2>CHÚNG TÔI</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chúng tôi</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Tiny End ##### -->
<!-- ##### About Tiny Start ##### -->
<section class="about-us-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>VỀ CHÚNG TÔI</h2>
                    <p>Chúng tôi đang dẫn đầu trong các lĩnh vực dịch vụ thực vật.</p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque ante nec ipsum iaculis, ac iaculis ipsum porttitor.</p>

                <!-- Progress Bar Content Tiny -->
                <div class="alazea-progress-bar mb-50">
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Khách hàng hài lòng</p>
                        <div id="bar1" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="90"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Khách hàng yêu thích</p>
                        <div id="bar2" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="80"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Chất kuowngj sản phẩm</p>
                        <div id="bar3" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="85"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar">
                        <p>Đánh giá tích cự</p>
                        <div id="bar4" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="65"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Tiny -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="../Content/asset/img/core-img/b1.png" alt="">
                                <h5>Chất lượng sản phẩm</h5>
                                <p>Mang đến cho khách hàng những sản phẩm chất lượng nhất, phù hợp nhất với mong muốn của khách hàng.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Tiny -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="../Content/asset/img/core-img/b2.png" alt="">
                                <h5>Dịch Vụ Hoàn Hảo</h5>
                                <p>Dịch vụ chất lượng, nhanh chóng và thân thiện.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Tiny -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="../Content/asset/img/core-img/b3.png" alt="">
                                <h5>100% Tự nhiên</h5>
                                <p>Được gieo trồng hoàn toàn tự nhiên, đúng quy trình theo chuẩn châu Âu.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Tiny -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="../Content/asset/img/core-img/b4.png" alt="">
                                <h5>Thân thiện với môi trường</h5>
                                <p>Không sử dụng chất hóa học, tốt cho sức khỏe và môi trường.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Tiny End ##### -->
<!-- ##### Service Tiny Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Dịch Vụ Của Chúng Tôi</h2>
                    <p>Chúng tôi cung cấp dịch vụ hoàn hảo cho bạn.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Tiny -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="../Content/asset/img/core-img/s1.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Chăm Sóc Cây</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque ante nec ipsum iaculis, ac iaculis ipsum porttitor.</p>
                        </div>
                    </div>

                    <!-- Single Service Tiny -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="../Content/asset/img/core-img/s2.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Độ Ẩm &amp; Áp Suất</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque ante nec ipsum iaculis, ac iaculis ipsum porttitor.</p>
                        </div>
                    </div>

                    <!-- Single Service Tiny -->
                    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="../Content/asset/img/core-img/s3.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Dịch Vụ &amp; Cắt Tỉa Cây</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque ante nec ipsum iaculis, ac iaculis ipsum porttitor.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-video-area bg-overlay mb-100">
                    <img src="../Content/asset/img/bg-img/23.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=oigiXW6XyCQ" class="video-icon">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Service Tiny End ##### -->
<!-- ##### Testimonial Tiny Start ##### -->
<section class="testimonial-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonials-slides owl-carousel">

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="../Content/asset/img/bg-img/Binz.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>KHÁCH HÀNG NỔI TIẾNG</h2>
                                        <p>Một số nhận xét về Tiny Plant</p>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque ante nec ipsum iaculis, ac iaculis ipsum porttitor.”</p>
                                    <div class="testimonial-author-info">
                                        <h6>Binz</h6>
                                        <p>Rapper nổi tiếng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="../Content/asset/img/bg-img/rsz_wowy.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>KHÁCH HÀNG NỔI TIẾNG</h2>
                                        <p>Một số nhận xét về Tiny Plant</p>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque ante nec ipsum iaculis, ac iaculis ipsum porttitor.”</p>
                                    <div class="testimonial-author-info">
                                        <h6>Wowy</h6>
                                        <p>Rapper nổi tiếng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="testimonial-thumb">
                                    <img src="../Content/asset/img/bg-img/ĐenVâu.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="testimonial-content">
                                    <!-- Section Heading -->
                                    <div class="section-heading">
                                        <h2>KHÁCH HÀNG NỔI TIẾNG</h2>
                                        <p>Một số nhận xét về Tiny Plant</p>
                                    </div>
                                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque ante nec ipsum iaculis, ac iaculis ipsum porttitor.”</p>
                                    <div class="testimonial-author-info">
                                        <h6>Đen Vâu</h6>
                                        <p>Rapper nổi tiếng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Testimonial Tiny End ##### -->
<!-- ##### Cool Facts Tiny Start ##### -->
<section class="cool-facts-area bg-img section-padding-100-0" style="background-image: url(../Content/asset/img/bg-img/cool-facts.png);">
    <div class="container">
        <div class="row">

            <!-- Single Cool Facts Tiny -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="../Content/asset/img/core-img/cf1.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">20</span></h2>
                        <h6>AWARDS</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts Tiny -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="../Content/asset/img/core-img/cf2.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">70</span></h2>
                        <h6>PROJECTS</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts Tiny -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="../Content/asset/img/core-img/cf3.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">30</span>+</h2>
                        <h6>HAPPY CLIENTS</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts Tiny -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="../Content/asset/img/core-img/cf4.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">80</span>K+</h2>
                        <h6>REVENUE</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Side Image -->
    <div class="side-img wow fadeInUp" data-wow-delay="500ms">
        <img src="../Content/asset/img/core-img/pot.png" alt="">
    </div>
</section>
<!-- ##### Cool Facts Tiny End ##### -->
<!-- ##### Team Tiny Start ##### -->
<section class="team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>ĐỘI NGŨ CHÚNG TÔI</h2>
                    <p>Đội ngũ chuyên gia giàu kinh nghiệm tận tâm.</p>
                </div>
            </div>
        </div>

        <div class="row img-center">

            <!-- Single Team Member Tiny -->
            <div class="col-12 col-sm-6 col-lg-3" style="margin:auto;">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="../Content/asset/img/bg-img/NgocAnh.png" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Nhữ Ngọc Anh</h5>
                        <p>CEO &amp; Founder</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Tiny -->
            <div class="col-12 col-sm-6 col-lg-3" style="margin:auto;">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="../Content/asset/img/bg-img/QuangDuy.png" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Đỗ Quang Duy</h5>
                        <p>CEO & Designer</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

