
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- ##### Breadcrumb Tiny Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Tiny -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../Content/asset/img/bg-img/24.jpg);">
        <h2>BLOG</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Tiny End ##### -->
<!-- ##### Blog Tiny Start ##### -->
<section class="alazea-blog-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="row">

                    <!-- Single Blog Post Tiny -->
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-50">
                            <div class="post-thumbnail mb-30">
                                <a href="#"><img src="../Content/asset/img/bg-img/6.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h5>Cây cảnh Tết 2020 – Thị trường sôi động hơn bao giờ hết</h5>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2020</a>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trần Ngọc Tiến</a>
                                </div>
                                <p class="post-excerpt">Cây cảnh Tết 2020 đã phát triển nhộn nhịp hơn hai tuần trước Tết (Tết Nguyên đán). Cùng điểm qua 2 trung tâm lớn nhất nước nha. Để xem Tết năm nay thị trường cây cảnh Tết đã chuẩn bị hoành tráng như thế nào. Để đón tết Canh Tý 2020.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post Tiny -->
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-50">
                            <div class="post-thumbnail mb-30">
                                <a href="#"><img src="../Content/asset/img/bg-img/7.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h5>Những loại hoa và cây cảnh phù hợp để mừng thọ, mừng tân gia, khai trương</h5>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2020</a>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trần Ngọc Tiến</a>
                                </div>
                                <p class="post-excerpt">Cây cảnh, hoa tươi không chỉ giúp không gian sống, không gian làm việc trở nên sinh động, nhiều màu sắc hơn mà nó còn có thể là một món quà mang nhiều ý nghĩa trong những sự kiện quan trọng. Tùy vào từng sự kiện (khai trương, tân gia, mừng thọ...).</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post Tiny -->
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-50">
                            <div class="post-thumbnail mb-30">
                                <a href="#"><img src="../Content/asset/img/bg-img/8.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h5>Kinh nghiệm kinh doanh cây cảnh mini cho người mới bắt đầu</h5>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2020</a>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trần Ngọc Tiến</a>
                                </div>
                                <p class="post-excerpt">Kinh doanh cây cảnh mini là một hướng đi không mới nhưng vẫn đầy tiềm năng cho những ai muốn làm giàu. Bí quyết kinh doanh cây cảnh mini là gì? Nhập nguồn cây cảnh mini ở đâu? Chắc chắn là những câu hỏi khiến các chủ shop đau đầu khi vừa bắt tay vào khởi nghiệp</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post Tiny -->
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-50">
                            <div class="post-thumbnail mb-30">
                                <a href="#"><img src="../Content/asset/img/bg-img/6.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h5>"Điểm danh" 4 loại cây cảnh mini cực đẹp lại dễ chăm đang khiến giới trẻ mê mẩn</h5>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2020</a>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trần Ngọc Tiến</a>
                                </div>
                                <p class="post-excerpt">Cây cảnh mini đã trở thành vật trang trí không thể thiếu đối với nhiều gia đình, anh chị em công sở hay những người đam mê cây cảnh.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post Tiny -->
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-50">
                            <div class="post-thumbnail mb-30">
                                <a href="#"><img src="../Content/asset/img/bg-img/7.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h5>Nhiều lựa chọn cây cảnh mini để bàn làm việc</h5>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2020</a>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trần Ngọc Tiến</a>
                                </div>
                                <p class="post-excerpt">Thời gian gần đây, thay vì cắm hoa tươi, để những con linh vật nhỏ trên bàn làm việc, trào lưu mua cây cảnh mini để trang trí cho góc học tập, bàn làm việc, bàn trang điểm hay các văn phòng làm việc đang là xu hướng được nhiều bạn trẻ lựa chọn.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Post Tiny -->
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-50">
                            <div class="post-thumbnail mb-30">
                                <a href="#"><img src="../Content/asset/img/bg-img/8.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h5>Top 5 cây cảnh mini đẹp nên đặt trong nhà</h5>
                                </a>
                                <div class="post-meta">
                                    <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 19 Jun 2020</a>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trần Ngọc Tiến</a>
                                </div>
                                <p class="post-excerpt">Những dòng cây cảnh mini không chỉ đẹp mà với kích thước nhỏ nhắn, xinh xắn rất phù hợp với không gian gia đình nhỏ hẹp. Với những cây cảnh mini, bạn có thể đặt trên bàn làm việc hoặc trên giá sách đều được. Cùng tham khảo top 10 cây cảnh mini đẹp nên đặt trong nhà, chắc chắn bạn sẽ thích đó.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Tiny ##### -->
                    <div class="single-widget-area">
                        <form action="#" method="get" class="search-form">
                            <input type="search" name="search" id="widgetsearch" placeholder="Search...">
                            <button type="submit"><i class="icon_search"></i></button>
                        </form>
                    </div>

                    <!-- ##### Single Widget Tiny ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h4>Bài viết gần đây</h4>
                        </div>

                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex align-items-center">
                            <div class="post-thumb">
                                <img src="../Content/asset/img/bg-img/30.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h6>Choáng ngợp với cây sung "Long mã hồi đầu" tiền tỷ nằm trên đỉnh núi đá quý nhân tạo của đại gia Thái Nguyên</h6>
                                </a>
                                <a href="#" class="post-date">20 Jun 2020</a>
                            </div>
                        </div>

                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex align-items-center">
                            <div class="post-thumb">
                                <img src="../Content/asset/img/bg-img/31.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h6>Siêu cây "Ngai vàng đất Việt” hàng chục tỷ đồng khiến giới chơi cây "sửng sốt"</h6>
                                </a>
                                <a href="#" class="post-date">20 Jun 2020</a>
                            </div>
                        </div>

                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex align-items-center">
                            <div class="post-thumb">
                                <img src="../Content/asset/img/bg-img/32.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h6>Cận cảnh cây duối cổ dáng Lão mai 400 tuổi giá tiền tỷ của ông thợ mộc ở Phú Thọ</h6>
                                </a>
                                <a href="#" class="post-date">20 Jun 2020</a>
                            </div>
                        </div>

                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex align-items-center">
                            <div class="post-thumb">
                                <img src="../Content/asset/img/bg-img/33.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">
                                    <h6>"Đại gia" sở hữu thiên tuế "Thiên cổ trường tồn" tuổi đời khoảng 1.000 năm tuổi ở Hà Nội là ai?</h6>
                                </a>
                                <a href="#" class="post-date">20 Jun 2020</a>
                            </div>
                        </div>
                    </div>

                    <!-- ##### Single Widget Tiny ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h4>Từ khóa liên quan</h4>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">CÂY</a></li>
                            <li><a href="#">SẢN PHẨM MỚI</a></li>
                            <li><a href="#">THIẾT KẾ</a></li>
                            <li><a href="#">TIN TỨC</a></li>
                            <li><a href="#">XU HƯỚNG</a></li>
                            <li><a href="#">VIDEO</a></li>
                            <li><a href="#">THIẾT KẾ VƯỜN</a></li>
                        </ol>
                    </div>

                    <!-- ##### Single Widget Tiny ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h4>BÁN CHẠY NHẤT</h4>
                        </div>

                        <!-- Single Best Seller Products -->
                        <div class="single-best-seller-product d-flex align-items-center">
                            <div class="product-thumbnail">
                                <a href="shop-details.html"><img src="../Content/asset/img/bg-img/4.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="shop-details.html">Xương rồng</a>
                                <p>220.000 đ</p>
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Single Best Seller Products -->
                        <div class="single-best-seller-product d-flex align-items-center">
                            <div class="product-thumbnail">
                                <a href="shop-details.html"><img src="../Content/asset/img/bg-img/5.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="shop-details.html">Hoa Tulip</a>
                                <p>240.000 đ</p>
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Single Best Seller Products -->
                        <div class="single-best-seller-product d-flex align-items-center">
                            <div class="product-thumbnail">
                                <a href="shop-details.html"><img src="../Content/asset/img/bg-img/34.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="shop-details.html">Chậu cây</a>
                                <p>500.000 đ</p>
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Tiny End ##### -->
