<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Tiny Plant</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/asset/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/Content/asset/style.css">
    <link rel="stylesheet" href="~/Content/asset/style1.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="~/Content/asset/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Tiny Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Tiny ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="ngocanhcntt01@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: ngocanhcntt01@gmail.com</span></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="+84 386 137 143"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 386 137 143</span></a>
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                <!-- Language Dropdown -->
                                <div class="language-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ngôn ngữ</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">VietNam</a>
                                            <a class="dropdown-item" href="#">UK</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Login -->
                                <div class="login">
                                    <a href="~/Pages/Login"><i class="fa fa-user" aria-hidden="true"></i> <span>Đăng nhập</span></a>
                                </div>
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="~/Pages/Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Giỏ hàng <span class="cart-quantity">(1)</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Tiny ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="~/" class="nav-brand"><img width="80" height="80" src="~/Content/asset/img/core-img/LogoShop.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="~/">Trang chủ</a></li>
                                    <li><a href="About">Chúng tôi</a></li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="~/">Trang chủ</a></li>
                                            <li><a href="About">Chúng tôi</a></li>
                                            <li>
                                                <a href="Shop">Shop</a>
                                                <ul class="dropdown">
                                                    <li><a href="Shop">Shop</a></li>
                                                    <li><a href="ShopDetails">Shop Details</a></li>
                                                    <li><a href="Cart">Shopping Cart</a></li>
                                                    <li><a href="Checkout">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="Blog">Blog</a>
                                                <ul class="dropdown">
                                                    <li><a href="Blog">Blog</a></li>
                                                    <li><a href="#">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="Contact">Liên hệ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="Shop">Shop</a></li>
                                    <li><a href="Blog">Blog</a></li>
                                    <li><a href="Contact">Liên hệ</a></li>
                                </ul>

                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="footer-area bg-img" style="        background-image: url(../../Content/asset/img/bg-img/3.jpg);">
        <!-- Main Footer Tiny -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>Tiny Plant</h5>
                            </div>
                            <p>Tiny Plant tự hào là khu vườn cung cấp đa dạng cây cảnh mini được nhập khẩu từ nước ngoài. Bên cạnh đó vườn còn tự cho ra những cây mini độc đáo và xuất qua các nước lớn như Nhật Bản, Philipin...Ngoài ra, vườn còn cung cấp số lượng lớn phụ kiện trang trí như: thủy tinh, rêu, mô hình...</p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="Shop">Mua hàng</a></li>
                                    <li><a href="Cart">Thanh toán</a></li>
                                    <li><a href="Blog">Tin tức</a></li>
                                    <li><a href="#">Quảng cáo</a></li>
                                    <li><a href="About">Chúng tôi</a></li>
                                    <li><a href="#">Chính sách</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>BEST SELLER</h5>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="~/Content/asset/img/bg-img/4.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Cây xương rồng</a>
                                    <p>220.000 đ</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="~/Content/asset/img/bg-img/5.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Hoa Tulip</a>
                                    <p>240.000 đ</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>LIÊN HỆ</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Địa chỉ:</span> 236 Hoàng Quốc Việt</p>
                                <p><span>Điện thoại:</span> +84 386 137 143</p>
                                <p><span>Email:</span> ngocanhcntt01@gmail.com</p>
                                <p><span>Giờ mở cửa:</span> Mon - Sun: 8 AM to 9 PM</p>
                                <p><span>Giờ vàng:</span> Sat: 2 PM to 4 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Bottom Tiny -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <!-- Copywrite Text -->
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>
                                &copy;
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script>This web is made with <i class="fa fa-handshake-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/ngocanhcntt01/" target="_blank">Nhữ Ngọc Anh</a> and <a href="https://www.facebook.com/profile.php?id=100012830981354" target="_blank">Đỗ Quang Duy</a>
                            </p>
                        </div>
                    </div>
                    <!-- Footer Nav -->
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="~/">Trang chủ</a></li>
                                    <li><a href="About">Chúng tôi</a></li>
                                    <li><a href="#">Dịch Vụ</a></li>
                                    <li><a href="Blog">Blog</a></li>
                                    <li><a href="Contact">Liên hệ</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Tiny End ##### -->
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/Content/asset/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/asset/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/asset/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Content/asset/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Content/asset/js/active.js"></script>
</body>

</html>
